<IfModule mod_rewrite.c>
  RewriteEngine On
  AddDefaultChartset UTF-8
  RewriteBase /
  DirectoryIndex index.php

  # Arquivos de ERRO 404
  ErrorDocument 404 https://startufc.rywe.com.br/esta-pagina-nao-existe

  # Página 404
  RewriteRule ^esta-pagina-nao-existe/?$ index.php?page=404 [NC,L]

  RewriteRule ^login/?$ index.php?page=login [NC,L]

  RewriteRule ^home/?$ index.php?page=home [NC,L]

  RewriteRule ^perfil/?$ index.php?page=perfil [NC,L]

  # Página startups
  RewriteRule ^startups/?$ index.php?page=startups [NC,L]
  # RewriteRule ^usuarios/pagina/([0-9-]+)/([0-9-]+)/?$ index.php?page=smt_usuarios&pagina=$1&quant_pg=$2 [NC,L]
  RewriteRule ^startups/cadastrar/?$ index.php?page=startups&sub_page=cadastrar [NC,L]
  RewriteRule ^startups/minha-startup/?$ index.php?page=startups&sub_page=minhastartup [NC,L]
  RewriteRule ^startups/adicionar-aviso/?$ index.php?page=startups&sub_page=adicionar-aviso [NC,L]
  RewriteRule ^startups/minha-startup/falar-com-responsavel/?$ index.php?page=startups&sub_page=falarcomresponsavel [NC,L]

  # Página Usuários
  RewriteRule ^usuarios/?$ index.php?page=usuarios [NC,L]
  RewriteRule ^usuarios/([0-9-]+)/detalhes/?$ index.php?page=usuarios&sub_page=detalhes&id_usuario=$1[NC,L]
  RewriteRule ^usuarios/pagina/([0-9-]+)/([0-9-]+)/?$ index.php?page=usuarios&pagina=$1&quant_pg=$2 [NC,L]
  RewriteRule ^usuarios/cadastrar/?$ index.php?page=usuarios&sub_page=cadastrar [NC,L]

  # Mural
  RewriteRule ^mural/?$ index.php?page=mural [NC,L]
  RewriteRule ^mural/cadastrar?$ index.php?page=mural&sub_page=cadastrar [NC,L]

  # Página Fórum
  RewriteRule ^forum/?$ index.php?page=forum [NC,L]
  RewriteRule ^forum/cadastrar/?$ index.php?page=forum&sub_page=cadastrar [NC,L]

  # Página deslogar
  RewriteRule ^sair/?$ index.php?page=sair [NC,L]

  <IfModule>